[Unit]
Description=Apache NiFi Registry as service
After=network.target

[Service]
Type=forking
User={{ nifi_registry_user }}
Group={{ nifi_registry_group }}
# Run ExecStartPre with root-permissions
PermissionsStartOnly=true
ExecStartPre=-/usr/bin/mkdir -p {{ nifi_registry_config_dirs.run }}
ExecStartPre=/usr/bin/chown -R {{ nifi_registry_user }} {{ nifi_registry_config_dirs.run }}
ExecStart={{ nifi_registry_config_dirs.home }}/bin/nifi-registry.sh start
ExecStop={{ nifi_registry_config_dirs.home }}/bin/nifi-registry.sh stop

[Install]
WantedBy=multi-user.target
